<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ingenius</title>
</head>
<body>
	<div class="header">
		<navbar>
			<h1>Ingenius</h1>
			<div class="nav-links">
				<ul>
					<li class="nav-item"><a href="{{url_for('home')}}">Home</a></li>
					<li class="nav-item"><a href="#">About</a></li>
					<li class="nav-item"><a href="#">Events</a></li>
				</ul>
			</div>
			<button><a href="">Register</a></button>
		</navbar>
	</div>
</body>
</html>