<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style3.css')}}">
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='favicon.ico')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.min.css')}}">
		<script defer  src="{{url_for('static',filename='script.js')}}"></script>

	<title>Ingenius</title>
</head>

<body>

	<div class="header">
		<navbar>
			<div class="nav-links">
				
				<ul>
					<li class="nav-item"><a href="{{url_for('home')}}"><h2>INGENIOUS</h2></a></li>
					<li class="nav-item"><a href="#about">About</a></li>
					<li class="nav-item"><a href="#events">Events</a></li>
					<li class="nav-item"><button><a href="{{url_for('register')}}">Register</a></button></li>
				</ul>
			</div>		
		</navbar>
	</div>


	<div class="landing">
		<h1>Coming July 2022</h1>
	</div>
	<div class="about" id="about">
		<h1>About Us</h1>
		<h3>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</h3>
	</div>


	<div class="events" id="events">
		<h1>Events</h1>
		<ul>
			<li><button data-modal-target="#modal" class ="event-btn" >GAME JAM</button></li> 
			<li><button data-modal-target="#modal2" class ="event-btn" >SIKRYPT</button></li>
			<li><button data-modal-target="#modal3" class ="event-btn" >ESPORTS</button></li>
			<li><button data-modal-target="#modal4" class ="event-btn" >EVENT 4</button></li>
			<li><button class ="event-btn" >Event5</button></li>
			<li><button class ="event-btn" >Event6</button></li>
			<li><button class ="event-btn" >Event7</button></li>
			<li><button class ="event-btn" >Event8</button></li>
			<li><button class ="event-btn" >Event9</button></li>
			<li><button class ="event-btn" >Event10</button></li>
			<li><button class ="event-btn" >Event11</button></li>
			<li><button class ="event-btn" >Event12</button></li>
		</ul>
	</div>
	<div class="popups">

	<div class="modal" id="modal">
    <div class="modal-header">
      <div class="title">GAME JAM</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
    	<pre>
         Online Event
		1.Participants will create a game on a given theme which will be announced 5 days before the event
		2.Current Theme: Less is More subject to change
		3.Participants will have the 1 week to develop their game, and will submit them by the end of the 2nd day of the event
		4.They will then be judged and ranked, and the winner will be announced after the event
		5.Submissions will through itch.io
		6.Rules:
			Games can be of any genre (FPS, platformer, etc.)
			Both 2D and 3D games are allowed
			Any game engine is allowed
			You are not allowed to update the game after submitting the game (Updates after judging is complete are allowed)
			Inspiration is allowed, but plagiarism is prohibited
			Games that don’t fit the theme will be disqualified
			Games Submitted after the end time (12:00 pm 30 July subject to change) will not be considered for judging
			Judging will be based on the following criteria
			Gameplay elements
			Artistic vision
			Music/Sound design
			Story
			Length 
		</pre>
    </div>
  </div>

  	<div class="modal" id="modal2">
    <div class="modal-header">
      <div class="title">Sikrypt</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      
    </div>
  </div>

  	<div class="modal" id="modal3">
    <div class="modal-header">
      <div class="title"></div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">

  </div>


  <div id="overlay"></div>
	</div>



</body>
</html>