<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style3.css')}}">
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='favicon.ico')}}">
	<title>Register</title>
</head>
<style type="text/css">
	 h1{
	 	text-align: center;
	 }
	
	.form{
		display: flex;
		justify-content: center;
	}
</style>
<body>
<div class="header">
		<navbar>
			
			<div class="nav-links">
				
				<ul>
					<li class="nav-item"><a href="{{url_for('home')}}"><h2>INGENIOUS</h2></a></li>
					<li class="nav-item"><a href="{{url_for('about')}}">About</a></li>
					<li class="nav-item"><a href="{{url_for('events')}}">Events</a></li>
				</ul>
			</div>
			
		</navbar>
	</div>
	<h1 style="color:#F0A500;">Register As a Participant</h1>
	<div class="form">
		
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeJ2tlolqsbD7WUBAs_c8UJBfoBkqJiXUgpM9u76d02hmtDug/viewform?embedded=true" width="640" height="800" frameborder="0">Loading…
	</iframe>
	
</div>
</body>
</html>